{% extends "base.html" %}
{% block title %}{{ post.title }}{% endblock %}

{% block content %}
<article class="d-flex align-items-center mb-3 p-2 border rounded">
  <div class="flex-grow-1 ms-3 me-3">
    {% if post.author == current_user %}
    <div class="pb-2 mb-2 border-bottom">
      {% if post.is_public %}
      <span class="badge bg-success text-white me-2">Public</span>
      {% else %}
      <span class="badge bg-dark text-white me-2">Private</span>
      {% endif %}
      <small class="text-muted">{{ post.date_posted.strftime("%Y-%m-%d") }}</small>
    </div>
    <h2>{{post.title }}</h2>
    <p>{{ post.content }}</p>
    <a class="btn btn-outline-primary btn-sm mt-1 mb-1" href="{{ url_for('posts.update_post', post_id=post.id) }}">Edit</a>
    <button type="button" class="btn btn-outline-danger btn-sm m-1" data-bs-toggle="modal"
      data-bs-target="#deleteModal">Delete</button>

    {% else %}

    <div class="pb-2 mb-2 border-bottom">
      <a class="badge bg-primary text-decoration-none me-2 text-white"
        href="{{ url_for('posts.user_posts', username=post.author.username) }}">{{ post.author.username
        }}</a>
      <small class="text-muted">{{ post.date_posted.strftime("%Y-%m-%d") }}</small>
    </div>
    <h2>{{post.title }}</h2>
    <p>{% if post.is_public %} {{ post.content }} {% else %} This is a private post! {% endif %}
    </p>

    {% endif %}
  </div>
  <div class="flex-shrink-0 m-1">
    <img class="article-img" src="{{ url_for('static', filename='posts/thumbnails/' + post.image_file) }}">
  </div>
</article>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Confirm Delete</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">Are you sure you want to delete this post?</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Cancel</button>
        <form action="{{ url_for('posts.delete_post', post_id=post.id) }}" method="POST">
          <input class="btn btn-danger" type="submit" value="Delete">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}