{% extends "base_auth.html" %}
{% block title %}Login{% endblock %}

{% block content %}

<h3 class="card-header">Login</h3>
<div class="card-body">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="mb-3 mt-3">
            {{ form.email.label(class="form-label") }}
            {% if form.email.errors %}
            {{ form.email(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.email.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.email(class="form-control form-control-lg") }}
            {% endif %}
        </div>
        <div class="mb-3">
            {{ form.password.label(class="form-label") }}
            {% if form.password.errors %}
            {{ form.password(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.password.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.password(class="form-control form-control-lg") }}
            {% endif %}
        </div>
        <div class="form-check mb-3">
            {{ form.remember(class="form-check-input") }}
            {{ form.remember.label(class="form-check-label") }}
        </div>

        <div class="d-grid mb-3">
            {{ form.submit(class="btn btn-outline-primary") }}
        </div>
        <p class="text-muted text-decoration-none">
            <a class=" text-decoration-none" href="{{ url_for('users.reset_request') }}">Forgot Password?</a>
        </p>
    </form>

    <div class="mb-4">
        <p class="text-muted">
            Need An Account? <a class="ms-1  text-decoration-none" href="{{ url_for('users.register') }}">Sign up</a>
        </p>
    </div>
</div>
{% endblock content %}